.Slider {
    margin-top: 1rem;
    /* border: 1px solid red; */
    /* display: flex; */
    /* overflow: hidden; */
}

.Slider div {
    height: 25vh;
    width: 97%;
    margin: 0 auto;
}

.Slider div img {
    height: 100%;
    width: 100%;
}
