* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-size: 1.5rem;
    background-color: rgb(104, 223, 157) !important;
}

.navbar-brand {
    margin-left: 4px;
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

.navbar-nav {
    width: 10vw;
    display: flex;
    justify-content: space-around;
}

.active {
    border-bottom: 3px solid black;
}

.bottom-nav {
    display: flex;
    width: 10rem;
    margin: auto;
    justify-content: space-around;
    font-size: 1.2rem;
    padding-bottom: 3px;
}

.bottom-nav .nav-link {
    padding-bottom: 5px;
}

.navbar-item {
    display: flex !important;
    width: 25vw;
    justify-content: space-around;
}
